/* .sidebar-button {
    a {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        background: #333;
        padding: 18px 30px;
        border-radius: 6px;
        transition: .3s;
    }

    a:hover {
        background: #13c3ac;
    }
} */
 
/* .sidebar-button {
    color: #000;
    font-size: 20px;
    background: #FFF;
    padding: 0;
    margin: 0;
    width: 280px;
    border: #FFF;
    text-align: left
    
}

.sidebar-button:hover {
    background: rgb(210, 210, 210);
} */